* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: Helvetica, Arial, sans-serif;
}

.Block {
	position: relative;
	height: 50px;
	border-bottom: 1px solid black;

	font-weight: bold;
}

.Block__number {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.Block__line {
	height: 10px;
	border-bottom: 1px solid #ddd;
}

.ScrollToControl {
	position: fixed;
	bottom: 20px;
	right: 20px;

	padding: 20px;

	background: #aaa;
}

.ScrollToControl__label {
	display: block;
	font-weight: bold;
}

.ScrollToControl__input {
	display: block;
	margin-top: 10px;
	padding: .5em;
	border: none;

	font-size: 20px;
}

.ScrollToControl__button {
	margin-top: 10px;
	padding: .5em;

	background: #406f94;
	color: #fff;

	border: none;
	border-radius: .25em;

	font-weight: bold;
	font-size: 20px;

	cursor: pointer;
}
